@import url('reset.css');

* {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	vertical-align: baseline;
}

button {
	cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

nav{
    background: #FFFFFF;
    display: flex;
    padding: 12px 36px;
    justify-content: space-between;
    align-items: center;
}

.left, .right {
    display: flex;
    gap: 0 24px;
}

.center {
    display: flex;
    border: solid 2px #F9F9F9;
}
.center input, .center button {
    border: none;
    height: 32px;
    padding: 0 10px;
}

.center input {
    width: 320px;
}

.icon {
    height: 24px;
}

.icon-yt {
    height: 20px;
}

main {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-around;
    background-color: #f9f9f9;
    padding: 24px 40px;
    
}

.primary{
    max-width: 960px;
}
.secondary {
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
    min-width: 80px;
}

.channel-actions, .channel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

#video-title {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 12px 0;
}

.actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
}

.actions button img {
    margin: 0 6px;
}

.subscription button {
    border: 1px solid #CCCCCC;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 700;
}

.channel img {
    border-radius: 50%;
}

.channel-info a, .description-info, .recommended-info h2 {
    font-weight: 700;
}

iframe, .recommended-video img  {
    border-radius: 6px;
}

.description {
    margin-right: 12px;
    margin-top: 12px;
}

.recommended {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.recommended-channel  {
    padding: 6px 0 ;
}